<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="keywords" content="webpack-template">
    <meta name="description" content="webpack-template">
    <title>page-b</title>

    <link rel="shortcut icon" href="../../assets/images/favicon.ico">

    <script>
      (function(a,b){var c=a.documentElement;a="orientationchange"in b?"orientationchange":"resize";var d=function(){var a=c.clientWidth;a&&(c.style.fontSize=1080<=a?"100px":a/750*100+"px")};d();b.addEventListener&&b.addEventListener(a,function(){d()},!1)})(document,window);
    </script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
